# gradle

.gradle/
build/
classes/
out/

# multi-version build output
build/multi-version/
build-all.ps1

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
generated/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
